body {
    background: $bg-gradient;
    color: $color-white;
    font-family: $font-stack;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    text-align: center;
    text-transform: uppercase;
}

