// import font
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:600,700&display=swap');

// primary font
$font-stack: 'Barlow Semi Condensed', sans-serif;
$font-weight-bold: 600;
$font-weight-bolder: 700;

// font sizes 
$font-size-base: 16px;
$font-size-xsmall: 0.7rem;
$font-size-small: 1.15rem;
$font-size-medium: 1.5rem;
$font-size-large: 2.5rem;
$font-size-xlarge: 2.75rem;
$font-size-xxlarge: 3.5rem;