.attribution {
    font-size: $font-size-xsmall;
    text-transform: capitalize;
    flex: 1 1 100%;
    margin-top: 8%;

    &__link {
      color: $attribution-link-color;

      &:hover {
        color: $attribution-link-hover;
      }
    }
  }

  