// button settings
@mixin btn-settings($btnBorderColor, $btnShadowColor) {
    background: {
        color: $btn-default-bg;
        position: center;
        repeat: no-repeat;
        size: 50%;
    }
    border: 12px solid $btnBorderColor;
    border-radius: 50%;
    box-shadow: inset 0 6px $btn-shadow-inset, 0 6px $btnShadowColor;
    cursor: pointer;
    width: 45%;
    height: 45%;

    @include for-size(ipad-pro) {
        width: 50%;
        height: 35%;
    }
    @include for-size(desktop-laptop) {
        width: 45%;
        height: 45%;
    }
}

// add button icon images and borders
@each $name in ('rock' 'paper' 'scissors') {
    .btn-#{$name} {
        background-image: url('../images/icon-#{$name}.svg');

        @if ($name == 'rock') {
            @include btn-settings($rock-btn-border, $rock-btn-shadow);
            align-self: flex-end;
        }
        @if ($name == 'paper') {
            @include btn-settings($paper-btn-border, $paper-btn-shadow);
        }
        @if ($name == 'scissors') {
            @include btn-settings($scissors-btn-border, $scissors-btn-shadow);
        }
    }
}

// play again button
.btn-play-again {
    grid-area: resultBox;
    background-color: $color-white;
    color: $play-again-color;
    border-radius: 8px;
    padding: 3% 15%;
    margin-top: 4%;
    font-size: $font-size-base;
}
